*{
    box-sizing: border-box;
    margin: 0px;
    border: 0px;
}
body {
    background-color: rgb(188, 234, 255);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    background-color: rgb(255, 255, 228);
    display: flex;
    padding: 2rem 5rem;
}

ul {
    list-style: none;
    margin-left: 3vw;
}

li {
    display: inline-block;
    padding-left: 5vw;
    
}

a {
    text-decoration: none;
}

main {
    display: flex;
    flex: auto;
    background-color: red;
}

.main__info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: yellow;
    padding: 2rem 5rem;
}

.main__img {
    background-color: green;
}